#text {
  background-color: lightsalmon;
}

#box {
  width: 400px;
  height: 200px;
  left: 100px;
  position: fixed;
  background-color: lightcoral;
}

#goose {
  background-color: red;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
}